langchain
langchain_core
langchain_groq
langchain-community
sentence-transformers

dotenv

langgraph
langchain-huggingface
huggingface-hub

PyPDF2

tiktoken
pinecone
pinecone-client==3.0.0

fastapi
uvicorn
python-multipart

redis
langgraph-checkpoint-redis

psycopg2-binary 
sqlalchemy
